{% load static %}

<!doctype html>
<html lang="zxx">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">


</head>

<body>
    <main class="main__content_wrapper">
       <p class="text-center mt-5">Welcome to luxury villas BE Dash</p>
       <p class="text-center mt-3">Here are the endpoints</p>
       <ul class="text-center mt-3">
        <li>/villas</li>
        <li>/villaDetails/ID</li>
        <li>/blogs</li>
        <li>/blogDetails/ID</li>
        <li>/country</li>
        <li>/countryDetails/ID</li>
        <li>/offer</li>
        <li>/offerDetails/ID</li>
        <li>/experience</li>
        <li>/experienceDetails/ID</li>
        <li>/dining</li>
        <li>/diningDetails/ID</li>
        <li>/wedding</li>
        <li>/weddingDetails/ID</li>
        <li>/sustainability</li>
        <li>/sustainabilityDetails/ID</li>
        <li>/countryVillas/ID</li>
       </ul>
    </main>

</body>

</html>